.panel_background {
    --panel-background-color: #f5f5f5;
    --panel-color: #ffffff;
    --header-color: #000000;
    --header-line-color: linear-gradient(90deg, rgba(0, 140, 73, 1) 0%, rgba(0, 224, 15, 1) 100%);
    --panel-shadow: 0px 0px 29px -8px rgba(0, 0, 0, 0.75);
}

.panel_background.dark {
    --panel-background-color: #121212;
    --panel-color: #1f1f1f;
    --header-color: #ffffff;
    --header-line-color: linear-gradient(90deg, rgba(0, 140, 73, 1) 0%, rgba(0, 224, 15, 1) 100%);
    --panel-shadow: 0px 0px 29px -8px rgb(0, 0, 0);
}

.panel_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--panel-background-color);
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: var(--panel-color);
    border-radius: 20px;
    -webkit-box-shadow: var(--panel-shadow);
    -moz-box-shadow: var(--panel-shadow);
    box-shadow: var(--panel-shadow);
    padding-inline: 35px;
    padding-top: 20px;
    padding-bottom: 30px;

    &.fixed {
        top: 0;
        transform: translate(-50%, 0);
    }

    @media (width < 425px) {
        width: 90vw;
        padding-inline: 5vw;
    }
}

.panel_header {
    width: 100%;
}

.panel_header_text {
    color: var(--header-color);
    font-size: 2.5rem;
    text-align: center;
}

.panel_header_line {
    width: 120px;
    height: 7px;
    border-radius: 50px;
    background: var(--header-line-color);
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
