.main {
    --sign-in-link-color: #0000ee;
    --sign-in-link-visited-color: #551a8b;
}

.main.dark {
    --sign-in-link-color: #0084ff;
    --sign-in-link-visited-color: #ee82ee;
}

.main {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.sign_in_link_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.sign_in_link {
    font-size: 0.938rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:link {
        color: var(--sign-in-link-color);
    }

    &:visited {
        color: var(--sign-in-link-visited-color);
    }
}
