.main {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.main__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.panel {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.panel__page_header__sep_line__cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
}

.panel__page_header__sep_line {
    width: 100%;
    height: 2px;
    background-color: black;
}

.panel__normal_sep_line__cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
}

.panel__normal_sep_line {
    width: 100%;
    height: 1px;
    background-color: gray;
}

.panel__page_header {
    margin-top: 5px;
}

.panel__page_header__text {
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 30px;
    text-align: center;
}

.panel__page_header__control {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    margin-top: 15px;
}

.panel__page_header__map_button {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: rgb(104, 104, 104);
    }
}

.panel__page_header__map_button__img {
    content: url(../../assets/map.png);
    width: 70%;
    height: 70%;
}
