# .NET
DOTNET_CLI_TELEMETRY_OPTOUT=1

# ASP.NET
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=https://+:8081
ASPNETCORE_HTTPS_PORTS=8081

# Database
DB_CONNECTION_STRING="Data Source=sqlserver;Initial Catalog=EventCartographer;Persist Security Info=True;User ID=sa;Password=Password1;Encrypt=false;TrustServerCertificate=true;"

# Email
EMAIL_SENDER_ADDRESS="test@gmail.com"
EMAIL_SENDER_PASSWORD="1234567890101112"
EMAIL_SENDER_NAME="Event Cartographer"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
