.main {
    position: absolute;
    display: grid;
    grid-template-columns: auto calc(390px + 5vw + 20px);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    &.hidden_menu {
        grid-template-columns: auto;
    }

    @media screen and (width < 480px) {
        &:not(.hidden_menu) {
            grid-template-columns: auto;
        }
    }
}

.map_display {
    position: relative;
    width: 100%;
    height: 100%;

    @media screen and (width < 480px) {
        .main:not(.hidden_menu) & {
            display: none;
        }
    }
}