.main {
    --background-color: #ffffff;
    --header-color: #000000;
    --map-button-color: #1e1e1e;
    --map-button-hover-color: #686868;
    --sep-line-color: #000000;
    --security-settings-header-color: #000000;
    --map-button-filter: none;
}

.main.dark {
    --background-color: #121212;
    --header-color: #ffffff;
    --map-button-color: #e1e1e1;
    --map-button-hover-color: #686868;
    --sep-line-color: #ffffff;
    --security-settings-header-color: #ffffff;
    --map-button-filter: invert(100%);
}

.main {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    overflow-y: auto;
    scrollbar-color: gray transparent;
}

.main__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.panel {
    position: relative;
    width: calc(100% - 20px);
    max-width: 650px;
    padding-bottom: 30px;
}

.panel__page_header__sep_line__cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
}

.panel__page_header__sep_line {
    width: 100%;
    height: 2px;
    background-color: var(--sep-line-color)
}

.panel__security_settings {
    margin-top: 20px;
}

.panel__security_settings__header__text {
    color: var(--security-settings-header-color);
}

.panel__page_header {
    margin-top: 5px;
}

.panel__page_header__text {
    color: var(--header-color);
    font-size: 1.875rem;
    text-align: center;
}

.panel__page_header__control {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    margin-top: 15px;
}

.panel__page_header__map_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: var(--map-button-color);
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: var(--map-button-hover-color);
    }
}

.panel__page_header__map_button__img {
    content: url(../../assets/map.png);
    width: 70%;
    height: 70%;
    filter: var(--map-button-filter);
}
