* {
    margin: 0;
    padding: 0;
    font-family: 'Robotic', sans-serif;
}

button {
    cursor: pointer;
}

input {
    &:focus {
        outline: none;
    }
}

textarea {
    &:focus {
        outline: none;
    }
}

select {
    &:focus {
        outline: none;
    }
}
