.page_navigator__cont {
    --obj-color: #000000;
}

.page_navigator__cont.dark {
    --obj-color: #ffffff;
}

.page_navigator__cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.page_navigator {
    display: flex;
    margin-bottom: 20px;
}

.page_navigator__obj {
    cursor: pointer;
    color: var(--obj-color);
    font-size: 1.375rem;
    padding-block: 2px;
    padding-inline: 4px;
    margin-inline: 6px;
    border-radius: 5px;

    &:hover {
        color: rgb(255, 208, 0);
    }

    &.current {
        color: #000000;
        background-color: #83aaff;
    }
}
