.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    overflow-y: auto;
}

.main::-webkit-scrollbar {
    display: none;
}

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 29px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 29px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 29px -8px rgba(0, 0, 0, 0.75);
    padding-inline: 35px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (width < 425px) {
        width: 90vw;
        padding-inline: 5vw;
    }
}

.panel.fixed {
    top: 0;
    transform: translate(-50%, 0);
}

.panel_header {
    width: 100%;
}

.panel_header_text {
    font-size: 40px;
    text-align: center;
}

.panel_header_line {
    width: 120px;
    height: 7px;
    border-radius: 50px;
    background: rgb(0, 140, 73);
    background: linear-gradient(90deg, rgba(0, 140, 73, 1) 0%, rgba(0, 224, 15, 1) 100%);
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.username {
    margin-top: 35px;
}

.username_header {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-left: 7px;
}

.username_input {
    width: calc(100% - 14px);
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 0.5px;
    margin-top: 7px;
    padding-block: 10px;
    padding-left: 10px;
}

.password {
    margin-top: 20px;
}

.password_header {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-left: 7px;
}

.password_input {
    width: calc(100% - 14px);
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 0.5px;
    margin-top: 7px;
    padding-block: 10px;
    padding-left: 10px;
}

.submit_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 49px;
    margin-top: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
    background: rgb(0, 140, 73);
    background: linear-gradient(90deg, rgba(0, 140, 73, 1) 0%, rgba(0, 224, 15, 1) 100%);
    border: none;
    border-radius: 50px;
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
    padding-block: 10px;
}

.options {
    position: relative;
    display: grid;
    grid-template-columns: 25% auto;
    margin-top: 30px;
}

@media (width < 260px) {
    .options {
        display: block;
    }
}

.options_sign_up {
    position: relative;
    height: 15px;
    width: 100%;
}

.options_sign_up_link {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
    text-wrap: nowrap;
}

@media (width < 260px) {
    .options_sign_up_link {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.options_sign_up_link:hover {
    text-decoration: underline;
}

.options_forgot_password {
    position: relative;
    height: 15px;
    width: 100%;
}

@media (width < 260px) {
    .options_forgot_password {
        margin-top: 20px;
    }
}

.options_forgot_password_link {
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    text-wrap: nowrap;
}

@media (width < 260px) {
    .options_forgot_password_link {
        right: inherit;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.options_forgot_password_link:hover {
    text-decoration: underline;
}

.modal_window__background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.65);
}

.modal_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
}

.modal_window__content {
    padding-block: 10px;
    padding-inline: 15px;
}

.modal_window__header {
    text-align: center;
    text-transform: uppercase;
}

.modal_window__reset_password__description {
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
}

.modal_window__reset_password__cont {
    margin-top: 10px;
}

.modal_window__reset_password__label {
    font-size: 20px;
}

.modal_window__reset_password__input {
    display: block;
    width: calc(100% - 4px);
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding-block: 1px;
    margin-top: 3px;
}

.modal_window__control {
    padding-block: 10px;
    padding-inline: 15px;
}

.modal_window__control__buttons {
    display: flex;
    justify-content: space-evenly;
}

.modal_window__control__buttons__cancel {
    cursor: pointer;
    width: 100px;
    background-color: rgb(255, 59, 59);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding-block: 5px;
}

.modal_window__control__buttons__cancel:hover {
    background-color: rgb(163, 37, 37);
}

.modal_window__control__buttons__apply {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: rgb(62, 200, 44);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding-block: 5px;
}

.modal_window__control__buttons__apply:hover {
    background-color: rgb(40, 131, 28);
}