.main {
    --sign-up-link-color: #0000ee;
    --sign-up-link-visited-color: #551a8b;
    --forgot-password-link-color: #000000;
}

.main.dark {
    --sign-up-link-color: #0084ff;
    --sign-up-link-visited-color: #ee82ee;
    --forgot-password-link-color: #ffffff;
}

.main {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.options {
    position: relative;
    height: 17px;
    margin-top: 30px;

    @media (width < 310px) {
        height: 47px;
    }
}

.options_sign_up_link {
    position: absolute;
    font-size: 0.938rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-wrap: nowrap;

    &:hover {
        text-decoration: underline;
    }

    &:link {
        color: var(--sign-up-link-color);
    }

    &:visited {
        color: var(--sign-up-link-visited-color);
    }

    @media (width < 310px) {
        position: static;
        display: block;
        text-align: center;
    }
}

.options_forgot_password_link {
    cursor: pointer;
    position: absolute;
    right: 0;
    color: var(--forgot-password-link-color);
    font-size: 0.938rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: right;
    text-wrap: nowrap;

    &:hover {
        text-decoration: underline;
    }

    @media (width < 310px) {
        position: static;
        display: block;
        text-align: center;
        margin-top: 20px;
    }
}
