.main {
    --marker-popup-title-color: #000000;
    --marker-popup-description-color: #000000;
    --marker-popup-starts-at-color: #000000;
    --user-name-background-color: #303030;
    --user-name-text-color: #ffffff;
    --marker-panel-button-color: #800080;
    --settings-button-color: #303030;
    --logout-button-color: #303030;
    --marker-panel-background-color: #ffffff;
    --marker-panel-top-menu-current-option-color: #1e1e1e;
    --marker-panel-top-menu-option-hover-color: #c4c4c4;
    --marker-search-input-border-color: #000000;
    --marker-search-input-text-color: #000000;
    --marker-search-apply-button-color: #000000;
    --marker-sort-label-color: #000000;
    --marker-sort-input-border-color: #000000;
    --marker-sort-input-text-color: #000000;
    --marker-sort-input-value-background-color: #ffffff;
    --marker-sort-direction-button-border-color: #000000;
    --marker-filter-button-border-color: #000000;
    --marker-filter-panel-border-color: #000000;
    --marker-filter-panel-header-color: #000000;
    --marker-importance-filter-value-label-color: #000000;
    --marker-time-of-start-filter-input-border-color: #000000;
    --marker-time-of-start-filter-input-content-color: #000000;
    --marker-time-of-start-filter-dash-color: #000000;
    --marker-edit-panel-label-color: #000000;
    --marker-edit-panel-input-border-color: #000000;
    --marker-edit-panel-input-text-color: #000000;
    --marker-panel-button-image-filter: none;
    --settings-button-image-filter: none;
    --logout-button-image-filter: none;
    --marker-panel-top-menu-not-current-option-filter: none;
    --marker-panel-top-menu-current-option-filter: invert(100%);
    --marker-search-apply-button-image-filter: none;
    --marker-sort-direction-button-image-filter: none;
    --marker-filter-button-image-filter: none;
    --marker-time-of-start-filter-input-image-filter: none;
}

.main.dark {
    --marker-popup-title-color: #ffffff;
    --marker-popup-description-color: #ffffff;
    --marker-popup-starts-at-color: #ffffff;
    --user-name-background-color: #ffffff;
    --user-name-text-color: #000000;
    --marker-panel-button-color: #ff4cff;
    --settings-button-color: #ffffff;
    --logout-button-color: #ffffff;
    --marker-panel-background-color: #121212;
    --marker-panel-top-menu-current-option-color: #e1e1e1;
    --marker-panel-top-menu-option-hover-color: #4c4c4c;
    --marker-search-input-border-color: #ffffff;
    --marker-search-input-text-color: #ffffff;
    --marker-search-apply-button-color: #ffffff;
    --marker-sort-label-color: #ffffff;
    --marker-sort-input-border-color: #ffffff;
    --marker-sort-input-text-color: #ffffff;
    --marker-sort-input-value-background-color: #000000;
    --marker-sort-direction-button-border-color: #ffffff;
    --marker-filter-button-border-color: #ffffff;
    --marker-filter-panel-border-color: #ffffff;
    --marker-filter-panel-header-color: #ffffff;
    --marker-importance-filter-value-label-color: #ffffff;
    --marker-time-of-start-filter-input-border-color: #ffffff;
    --marker-time-of-start-filter-input-content-color: #ffffff;
    --marker-time-of-start-filter-dash-color: #ffffff;
    --marker-edit-panel-label-color: #ffffff;
    --marker-edit-panel-input-border-color: #ffffff;
    --marker-edit-panel-input-text-color: #ffffff;
    --marker-panel-button-image-filter: invert(100%);
    --settings-button-image-filter: invert(100%);
    --logout-button-image-filter: invert(100%);
    --marker-panel-top-menu-not-current-option-filter: invert(100%);
    --marker-panel-top-menu-current-option-filter: none;
    --marker-search-apply-button-image-filter: invert(100%);
    --marker-sort-direction-button-image-filter: invert(100%);
    --marker-filter-button-image-filter: invert(100%);
    --marker-time-of-start-filter-input-image-filter: invert(100%);
    --marker-edit-panel-input-image-filter: invert(100%);
}

.marker_popup__cancel_button {
    background-color: rgb(211, 0, 0);
    color: white;
    font-size: 0.938rem;
    border: none;
    border-radius: 5px;
    padding-block: 3px;
    padding-inline: 5px;

    &:hover {
        background-color: rgb(165, 0, 0);
    }
}

.marker_popup__cont {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.marker_popup__title {
    color: var(--marker-popup-title-color);
    word-break: break-all;
}

.marker_popup__description {
    color: var(--marker-popup-description-color);
    word-break: break-all;
}

.marker_popup__starts_at {
    color: var(--marker-popup-starts-at-color);
    word-break: break-all;
}

.right_side_menu {
    position: absolute;
    top: 20px;
    right: calc(390px + 5vw + 20px);
    transition: ease 0.4s;
}


.right_side_menu.hided {
    right: 10px;
}

.right_side_menu__user_name__cont {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 60px;
    width: fit-content;
    height: 40px;
    background-color: var(--user-name-background-color);
    border-radius: 8px;
    padding-inline: 7px;
}

.right_side_menu__user_name {
    color: var(--user-name-text-color);
    word-wrap: none;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 1.313rem;
    letter-spacing: 1px;
}

.right_side_menu__marker_menu_button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--marker-panel-button-color);
    border: none;
}

.right_side_menu__marker_menu_button__img {
    position: absolute;
    content: url(../../assets/menu.png);
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    filter: var(--marker-panel-button-image-filter);
}

.right_side_menu__settings_button {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--settings-button-color);
    border: none;
}

.right_side_menu__settings_button__img {
    position: absolute;
    content: url(../../assets/settings.png);
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    filter: var(--settings-button-image-filter);
}

.right_side_menu__log_out_button {
    position: absolute;
    top: 120px;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--logout-button-color);
    border: none;
}

.right_side_menu__log_out_button__img {
    position: absolute;
    content: url(../../assets/log-out.png);
    width: 60%;
    height: 60%;
    transform: translate(-40%, -45%);
    filter: var(--logout-button-image-filter);
}

.map_markers_loading {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 180px;
    right: 0px;
    width: 40px;
    height: 40px;
}

.marker_panel {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: calc(390px + 5vw);
    background-color: var(--marker-panel-background-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-y: scroll;
    padding-left: 10px;
    padding-bottom: 10px;
    transition: ease 0.4s;

    &::-webkit-scrollbar {
        display: none;
    }

    &.hided {
        right: calc((410px + 5vw) * -1);
    }
}

.marker_panel__top_menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;
}

.marker_panel__top_menu__option {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 15px;

    &.current {
        background-color: var(--marker-panel-top-menu-current-option-color);
    }

    &.current>img {
        filter: var(--marker-panel-top-menu-current-option-filter);
    }

    &.unavailable {
        cursor: default;
    }

    &.unavailable {
        opacity: 0.3;
    }

    &:not(&.current, &.unavailable):hover {
        background-color: var(--marker-panel-top-menu-option-hover-color);
    }
}

.marker_panel__top_menu__option_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    filter: var(--marker-panel-top-menu-not-current-option-filter);
}

.marker_list_img {
    content: url(../../assets/list.png);
}

.new_marker_img {
    content: url(../../assets/plus.png);
}

.marker_list_panel {
    position: relative;
    width: calc(100% - 12px);
    margin-top: 15px;
}

.marker_list_panel__search {
    display: grid;
    grid-template-columns: 1fr 35px;
    width: calc(100% + 5px);
    grid-column-gap: 2px;
}

.marker_list_search__input {
    width: 100%;
    color: var(--marker-search-input-text-color);
    font-size: 1.25rem;
    background-color: transparent;
    border: 2px solid var(--marker-search-input-border-color);
    border-radius: 5px;
    padding-left: 2px;
}

.marker_list__apply_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    background-color: var(--marker-search-apply-button-color);
    font-size: 1.125rem;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;

    &:hover {
        background-color: gray;
    }
}

.marker_list__apply_button__img {
    width: 70%;
    height: 70%;
    content: url(../../assets/search.png);
    filter: var(--marker-search-apply-button-image-filter);
}

.marker_list_sort_and_filter_cont {
    display: flex;
    margin-top: 10px;
}

.marker_list_sort_label {
    color: var(--marker-sort-label-color);
    font-size: 1.25rem;
    padding-top: 2px;
}

.marker_list_sort_input {
    background-color: transparent;
    color: var(--marker-sort-input-text-color);
    font-size: 1.25rem;
    border: 2px solid var(--marker-sort-input-border-color);
    border-radius: 5px;
    margin-left: 5px;
}

.marker_list_sort_input_option {
    background-color: var(--marker-sort-input-value-background-color);
}

.marker_list_sort_direction_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    background-color: transparent;
    border: 2px solid var(--marker-sort-direction-button-border-color);
    border-radius: 5px;
    margin-left: 5px;
}

.marker_list_sort_direction_button_img {
    width: 80%;
    height: 80%;
    filter: var(--marker-sort-direction-button-image-filter);
}

.marker_list_filter_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    background-color: transparent;
    border: 2px solid var(--marker-filter-button-border-color);
    border-radius: 5px;
    margin-left: 5px;
}

.marker_list_filter_button_img {
    content: url(../../assets/filter.png);
    width: 80%;
    height: 80%;
    filter: var(--marker-filter-button-image-filter);
}

.marker_list_filter_panel_cont {
    width: calc(100% + 4px);
    overflow: hidden;
}

.marker_list_filter_panel {
    margin-top: 10px;
    border: 2px solid var(--marker-filter-panel-border-color);
    border-radius: 5px;
    margin-top: 15px;
    padding-block: 10px;
}

.marker_list_filter_panel__section_header {
    color: var(--marker-filter-panel-header-color);
}

.marker_list_filter_panel_sep_line_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.marker_list_filter_panel_sep_line {
    width: calc(100% - 10px);
    height: 3px;
    background-color: gray;
    margin-top: 10px;
}

.marker_list_filter_panel_importance_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.marker_list_filter_panel_importance {
    width: fit-content;
    margin-top: 5px;
}

.marker_list_filter_panel_importance_checkbox_cont {
    margin-top: 3px;
}

.marker_list_filter_panel_importance_checkbox {
    scale: 1.2;
}

.marker_list_filter_panel_importance_label {
    color: var(--marker-importance-filter-value-label-color);
    margin-left: 5px;
}

.marker_list_filter_panel_starts_at_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.marker_list_filter_panel_starts_at {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    padding-inline: 3px;
    margin-top: 5px;
}

.marker_list_filter_panel_starts_at_input {
    min-width: 0px;
    color: var(--marker-time-of-start-filter-input-content-color);
    font-size: 1.125rem;
    background-color: transparent;
    border: 2px solid var(--marker-time-of-start-filter-input-border-color);
    border-radius: 5px;

    &::-webkit-calendar-picker-indicator {
        filter: var(--marker-time-of-start-filter-input-image-filter);
    }
}

.marker_list_filter_panel_starts_at_sep_line_cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marker_list_filter_panel_starts_at_sep_line {
    width: calc(100% - 8px);
    height: 2px;
    background-color: var(--marker-time-of-start-filter-dash-color);
}

.marker_list {
    position: relative;
    display: grid;
    width: calc(100% - 10px);
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin-top: 15px;
}

.marker_list_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 10px);
    margin-top: 15px;
}

.editing_marker_field_label {
    color: var(--marker-edit-panel-label-color);
    font-size: 1.25rem;
}

.editing_marker_field_input {
    background-color: transparent;
    color: var(--marker-edit-panel-input-text-color);
    font-size: 1.25rem;
    border: 2px solid var(--marker-edit-panel-input-border-color);
    border-radius: 5px;
}

.editing_marker_field_value {
    font-size: 1.25rem;
}

.editing_marker_coordinates {
    margin-top: 15px;
}

.editing_marker_coordinate {
    display: flex;
}

.editing_marker_longitude {
    margin-top: 10px;
}

.editing_marker_latitude_label {
    width: 65px;
}

.editing_marker_latitude_input {
    width: calc(100% - 85px);
}

.editing_marker_longitude_label {
    width: 65px;
}

.editing_marker_longitude_input {
    width: calc(100% - 85px);
}

.editing_marker_time_and_importance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}

.editing_marker_starts_at_input {
    width: calc(100% - 20px);

    &::-webkit-calendar-picker-indicator {
        filter: var(--marker-edit-panel-input-image-filter);
    }
}

.editing_marker_importance_input {
    width: calc(100% - 20px);
}

.editing_marker_importance_input__low_value {
    background-color: green;
    color: white;
}

.editing_marker_importance_input__medium_value {
    background-color: rgb(197, 197, 0);
    color: white;
}

.editing_marker_importance_input__high_value {
    background-color: red;
    color: white;
}

.editing_marker_title {
    margin-top: 15px;
}

.editing_marker_title_input {
    width: calc(100% - 20px);
}

.editing_marker_description {
    margin-top: 15px;
}

.editing_marker_description_input {
    width: calc(100% - 20px);
    height: 100px;
    resize: none;
}

.editing_marker_buttons {
    display: flex;
    margin-top: 15px;
}

.editing_marker_cancel_button {
    color: white;
    background-color: rgb(211, 0, 0);
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    padding-block: 8px;
    padding-inline: 10px;

    &:hover {
        background-color: rgb(165, 0, 0);
    }
}

.editing_marker_add_button {
    color: white;
    background-color: rgb(0, 185, 68);
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    padding-block: 8px;
    padding-inline: 10px;
    margin-left: 10px;

    &:hover {
        background-color: rgb(0, 140, 51);
    }
}

.editing_marker_go_back_button {
    color: white;
    background-color: rgb(111, 111, 111);
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    padding-block: 8px;
    padding-inline: 10px;

    &:hover {
        background-color: rgb(56, 56, 56);
    }
}

.editing_marker_edit_button {
    color: white;
    background-color: rgb(222, 189, 0);
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    padding-block: 8px;
    padding-inline: 10px;
    margin-left: 10px;

    &:hover {
        background-color: rgb(136, 136, 0);
    }
}